*{
    font-family:arial;
    font-size: 12px;
    margin: 0;
}
#header {
    background-color:white;
    width:auto;
    height:auto;
    position: relative;
    left:0px;
    top:50px;
    margin: 0px;
    padding: 0px;
    z-index:1;
    
}

#logo {
    background-color:black;
    background-image: url('./Brown\ Tours\ and\ Travels\ Vintage\ Logo-2.png');
    background-size: 100%;
    background-position: center;
    width: 300px;
    height: 350px;
    position: relative;
    left:0px;
    top:0px;
    z-index:1;
    }
 
#banner{
    width:1060px;
    height: 350px;
    background-image:url('./Yellow\ and\ Green\ Travel\ Portfolio\ Website.png');
    background-position: center;
    background-size: 1060px 350px;
    background-repeat:no-repeat; 
    position: absolute;
    left:300px;
    top: 0px;
    z-index:2; 
    }
#nav {
    position: absolute;
    width: 1360px;;
    height: 50px;
    left: 0px;
    top: 0px;
    z-index: 5;
    display: block;
    background-color: #2F4F4F;
    
}
#nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#nav li {
    display: inline-block;
    
}
#nav a {
    display: inline-block;
    color:white;
    padding:14px;
    font-size: 18px;
    font-family:arial;
}
#nav li:hover {
    background-color:slategray;
}
#div1 { 
    width: 250px;
    height: 500px;
    left: 0px;
    top: 400px;
    position: absolute;
    z-index: 1;
    background-color:#f1f1f1;
    
}
#intro {
    position: relative;
    border:1px solid grey;
    border-radius: 20px 20px 20px 20px;
    width: 220px;
    height: 200px;
    left: 10px;
    top: 20px;
    background-color:#f1f1f1;
}
#intro p a{
    margin: 20px 20px 20px;
    text-align: left;
    text-decoration: underline;
    color: black;
    font-size: 12px;
    line-height: 3;
}
#adv {
    position: absolute;
    width: 220px;
    height: 250px;
    left: 10px;
    top: 240px;
    z-index: 2;
    background-color: cadetblue;
    background-image: url(./imageadvertise.JPG);
    background-position: center;
    border: 1px solid seagreen;
    border-radius: 20px 20px 20px 20px;
} 

#div2 {
    width: 800px;
    height: 500px;
    left: 250px;
    top: 400px;
    position: absolute;
    z-index: 2;
    background-color:white;
}
#hotnews {
    width: 350px;
    height: 200px;
    left: 20px;
    top: 20px;
    position: absolute;
    z-index: 1;
    background-color:#f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 20px 20px 20px 20px;   
    line-height: 1.5;
}
.tieude {
    margin: 5px 10px 10px 10px;
    text-align: justify;
    font-size: 14px;
}
#hotnews p{
    border: 1px solid #f1f1f1;
    padding: 10px;
}
#photo {
    width: 375px;
    height: 200px;
    left: 390px;
    top: 20px;
    position: absolute;
    z-index: 1;
    background-color:seagreen;
    border: 1px solid seagreen;
    border-radius: 20px 20px 20px 20px;
}
#news1 {
    width: 200px;
    height: 200px;
    left: 20px;
    top: 260px;
    position: absolute;
    z-index: 1;
    border: 1px solid seagreen;
    border-radius: 20px 20px 20px 20px;
    background-image: url(./1554889253_phu-quoc_Fotor.jpg);
}


#news2 {
    width: 200px;
    height: 200px;
    left: 240px;
    top: 260px;
    position: absolute;
    z-index: 1;
    background-color: seagreen;
    border: 1px solid seagreen;
    border-radius: 20px 20px 20px 20px;
    background-image: url(./Gifts-of-Time-and-Travel_Fotor.jpg);
}
#news3 {
    width: 300px;
    height: 200px;
    left: 460px;
    top: 260px;
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 20px 20px 20px 20px;
    line-height: 1.5;
    text-align: center;   
    font-style: italic;
    border: 1px solid black
    
}
#new3 p {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    
}
#div3 {
    width: 300px;
    height: 500px;
    left: 1050px;
    top: 400px;
    position: absolute;
    z-index: 2;
    border: 1px solid seagreen;
    border-radius: 20px 20px 20px 20px;
    background-color:yellowgreen;
    background-image: url(./1-1439808939338.jpg);
    background-size: 300px 500px;
}
#footer {
    width: 1360px;
    height: 70px;
    left: 0px;
    top: 950px;
    position: absolute;
    z-index: 2;
    background-color:#2F4F4F;
}
#footer ul{
    list-style-type: none;
    float: right;
    margin-top: 30px;  
}
#footer ul li{
    display: inline;
    margin-right: 30px;
    color: white;
    text-decoration:underline; 
    text-transform: uppercase; 
}

#div4 {
    width: 800px;
    height: 500px;
    left: 250px;
    top: 400px;
    position: absolute;
    z-index: 55;
    background-color: #f1f1f1;
}
#div4 h1 {
    margin: 30px auto 20px auto;
    text-align: center;
    font-size: 20px;
}
#div4 p {
    max-height: 400px;
    
    padding: 10px 40px 10px 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    overflow: scroll;
}
img {
    max-width: 70%;;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
span {
    text-align: center;
}
#div5 {
    width: 1360px;
    height: 500px;
    left: 0px;
    top: 400px;
    position: absolute;
    z-index: 2;
    background-color:inherit;
    margin-left: auto;
    margin-right: auto;
}

#dl1 {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 200px;
    position: relative;
    top: 20px;
    left: auto;
    border: 1px solid black;
    background-image: url(./PQ.jpg);
    background-size: 100%;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial;
    
}

#dl2 {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 200px;
    position: relative;
    top: 20px;
    left: auto;
    border: 1px solid black;
    background-image: url(./DN.jpg);
    background-size: 100%;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial;
}
#dl3 {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 340px;
    border: 1px solid black;
    background-image: url(./NT.jpg);
    background-size:300px 200px;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial;
}
#dl4 {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 240px;
    left: 340px;
    border: 1px solid black;
    background-image: url(./HN.png);
    background-size: 300px 200px;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial;
}
#dl5 {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 680px;
    border: 1px solid black;
    background-image: url(./NB.jpg);
    background-size: 100%;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial;
}
#dl6 {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 240px;
    left: 680px;
    border: 1px solid black;
    background-image: url(./SP.jpg);
    background-size: 100%;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial;
}
#dl1 a{
    display: block;
    padding: 170px 75px 0px;  
}
#dl2 a{
    display: block;
    padding: 170px 75px 0px;
    
}
#dl3 a{
    display: block;
    padding: 170px 75px 0px;
    
    
}
#dl4 a{
    display: block;
    padding: 170px 75px 0px;
    
    
}
#dl5 a{
    display: block;
    padding: 170px 75px 0px;
    
}
#dl6 a{
    display: block;
    padding: 170px 75px 0px; 
}
#div6 {
    width: 1360px;
    height: 500px;
    left: 0px;
    top: 400px;
    position: absolute;
    z-index: 2;
    background-color:inherit;
    margin-left: auto;
    margin-right: auto;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}